[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mkdocs = "*"
flake8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
django-allauth = "*"
django-recaptcha = "*"
django-taggit = "*"
django-oauth-toolkit = "*"
django-cors-middleware = "*"
django-environ = "*"
django-storages = "*"
django-qrcodes = "*"
django-polymorphic = "*"
django-debug-toolbar = "*"
django-redis = "*"
django-mptt = "*"
django-numerators = "*"
django-websites = "*"
django-rq = "*"
channels = "*"
channels-redis = "*"
gunicorn = "*"
boto3 = "*"
pyyaml = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
psycopg2 = "==2.7.5"
django-heroku = "*"
django-widget-tweaks = "*"

[requires]
python_version = "3.7"
