[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
mkdocs = "*"
flake8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
django-allauth = "*"
django-recaptcha = "*"
django-taggit = "*"
django-environ = "*"
django-oauth-toolkit = "*"
django-cors-middleware = "*"
django-heroku = "*"
django-storages = "*"
django-redis = "*"
psycopg2 = "*"
gunicorn = "*"
boto3 = "*"
django-qrcodes = "*"
django-polymorphic = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"

[requires]
python_version = "3.8"
