{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount formutils_tags widget_tweaks static %}

{% block header %}{% endblock %}
{% block page_header %}{% endblock %}


{% block title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="form-wrapper d-flex justify-content-center m-5 pt-5">
    <div class="text-center">
        <div class="logo text-center">
            <img src="{% static 'img/logo.png' %}" alt="noobscribe">
        </div>
        <h1>{% trans "Account Inactive" %}</h1>

        <p>{% trans "This account is inactive." %}</p>
    </div>
</div>
{% endblock %}
