{% extends "account/base.html" %}

{% load i18n %}
{% load account formutils_tags widget_tweaks static %}

{% block header %}{% endblock %}
{% block page_header %}{% endblock %}
{% block title %}{% trans "Password Reset" %} - Noobscribe {% endblock %}


{% block content %}
<div class="form-wrapper d-flex justify-content-center m-5">
    <div class="login-form">
        <div class="logo text-center">
            <img src="{% static 'img/logo.png' %}" alt="noobscribe">
        </div>
        <h1 class="text-center">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" 
              action="{% url 'account_reset_password' %}" 
              class="bg-white border p-4 mb-3 password_reset">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="{{ form.email.name }}" class="form-control-label">
                  {{ form.email.label }}{% if form.email.field.required %} <sup class="text-danger">*</sup>{% endif %}
                </label>
                {% render_field form.email class="form-control" %}
                <small class="form-text text-muted">{{ form.email.help_text }}</small>
                {{ form.email.errors }}
            </div>
            <input class="btn btn-success btn-block" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>

        <p class="text-small">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
