{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount formutils_tags widget_tweaks static %}

{% block extra_css %}
  {{ blocksuper }}
  <style>
    .login-form {
      width: 400px;
    }
    .socialaccount_provider.google{
      background-color: crimson;
      color: white;
    }
    .socialaccount_provider.facebook{
      background-color: blue;
      color: white;
    }
  </style>
{% endblock %}

{% block title %}{% trans "Change Password" %} - Noobscribe{% endblock %}

{% block content_main %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
