<div class="sidebar accounts-sidebar">
    <ul>
        <li><a href="{% url 'account_home' %}">Home</a></li>
        <li><a href="{% url 'account_profile' %}">Profile</a></li>
        <li><a href="{% url 'socialaccount_connections' %}">Social Accounts</a></li>
        <li><a href="{% url 'youtube_channel_list' %}">YouTube Channels</a></li>
        <li><a href="{% url 'youtube_video_list' %}">YouTube Videos</a></li>
        <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
        <li><a href="{% url 'account_email' %}">Manage Email</a></li>
    </ul>
</div>